.container {
  background: #cadeef;
  width: 50vh;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  position: absolute;
  left: calc(50% - 25vh);
  align-items: center;
}
.icon {
  width: 4vw;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
    hue-rotate(49deg) brightness(105%) contrast(105%);
}
.hour-container {
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
}
.hour-icon {
  width: 45px !important;
}
.hours-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  padding-bottom: 10px;
}
.footer_container {
  display: flex;
  justify-content: space-between;
}
