.container {
  background: #cadeef;
  width: 50vh;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  position: absolute;
  left: calc(50% - 25vh);
  align-items: center;
}
.icon {
  width: 8vw;
}
.hour-container {
  display: flex;
  gap: 15px;
}
.hour-icon {
  width: 45px;
}
.hours-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  padding-bottom: 10px;
}
